<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta charset="UTF-8"/>
    <title>JMX Browser</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <ul class="column">
        <li v-for="d in domains" @click="showMBeans(d)">
          {{d}}
        </li>
      </ul>
      <ul class="column">
        <li v-for="mb in mbeans" @click="showMBeanInfo(mb)">{{mb}}</li>
      </ul>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
